@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background: rgb(110, 110, 110);
	height: 100%;
	width: 100%;
}

html,
body,
.target {
	height: 100%;
	width: 100%;
	margin: 0;
}

.target {
	box-sizing: border-box;
}

.component-GUI {
	display: flex;
	flex-direction: column;
	padding: 10px;
	height: 100%;
	width: 100%;

	.part-Header {
		//margin: 10px;

		.part-Header-Item {
			padding-right: 15px;
		}
	}

	.part-Keyboard {
		flex: 1;
	}

	.part-Title {
		margin: 10px;
		font-size: 20px;
		color: #eee;
	}
}

.component-Keyboard {
	background-color: #8b8b8b;
	border-radius: 0.3em;
	border: 1px solid rgb(73, 73, 73);
	box-shadow: 0 0.2em 0 0.05em rgb(95, 95, 95);
	border-bottom-color: rgb(97, 97, 97);

	position: relative;
	> .part-Key {
		position: absolute;
		padding: 3px 2px;
	}
}

.component-Key {
	height: 100%;
	width: 100%;
	outline: none;

	border-radius: 0.3em;
	background: rgb(54, 54, 54);
	color: #eee;
	border: 1px solid rgb(73, 73, 73);
	box-shadow: 0 0.2em 0 0.05em rgb(46, 46, 46);
	border-bottom-color: rgb(87, 87, 87);

	&.pressed,
	&:active {
		margin-top: 1px;
		margin-bottom: 2px;

		&.virtualKey-CtrlL,
		&.virtualKey-CtrlR {
			background: $orange3;
		}

		&.virtualKey-ShiftL,
		&.virtualKey-ShiftR,
		&.virtualKey-CapsLock {
			background: $blue3;
		}

		&.virtualKey-AltL,
		&.virtualKey-AltR {
			background: $green3;
		}

		margin-top: 1px;
		margin-bottom: 2px;

		background: lighten(rgb(54, 54, 54), 20);
		.part-Action {
			color: wihte;
		}

		.part-KeyText {
			color: white;
		}
	}

	&.active {
		background: green;
	}

	display: flex;
	flex-direction: column;

	align-items: stretch;
	margin: 0;
	padding: 2px;

	.part-KeyText {
		margin: 2px 2px 0px 2px;

		font-size: 11px;
		color: lightblue;
	}

	.part-Action {
		font-size: 8px;
		/*
		align-content: center;
		justify-content: center;
		align-items: center;
		justify-items: center;*/
	}
}
